<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Home</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-toolbar>
  <mat-toolbar-row>
    <span>Baking Calculator</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card>
  <mat-card-title>
    <span>Calculator</span>
  </mat-card-title>
  <mat-card-subtitle>
    <span>Enter the amount of flour and we will calculate how much of each ingredient you need to create the perfect bread.</span>
  </mat-card-subtitle>

  <mat-card-content>
    <form [formGroup]="form">

      <mat-form-field class="full-width">
        <input matInput
               type="number"
               placeholder="Flour (grams)"
               formControlName="flour">
      </mat-form-field>

      <span>Water</span>
      <mat-slider class="full-width"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  min="0"
                  formControlName="water"
                  max="100">
      </mat-slider>

      <span>Salt</span>
      <mat-slider class="full-width"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  formControlName="salt"
                  min="0"
                  max="100"></mat-slider>


      <span>Yeast</span>
      <mat-slider class="full-width"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1"
                  formControlName="yeast"
                  min="0"
                  max="100"></mat-slider>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="reset()">Reset</button>
    <button type="submit" (click)="calculate()" [disabled]="!form.valid">Calculate</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-title>
    What to mix up:
  </mat-card-title>
  <mat-card-content>
    <ol>
      <li *ngFor="let ingredient of ingredients">
        <span>{{ingredient}}: {{result[ingredient]}}g</span>
      </li>
    </ol>
  </mat-card-content>
</mat-card>
